/* Estilos acercaDe.html */
html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.acercade {
  background-image: url(../assets/images/fondoGym2.jpeg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: center center;
  margin: 0;
  padding: 0;
  margin: 5rem 0;
}

.header {
  height: 15vh;
}

.acercade-main {
  position: relative;
  top: 20vh;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.acercade-img {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.acercade-img img {
  width: 25%;
}

.acercade-text {
  background-color: rgba(0, 0, 0, 0.7);
  width: 50%;
  margin: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 2rem;
}

.acercade-text > p {
  font-size: 1.6rem;
  color: var(--white);
}

.acercade-text > h2,
.acercade-main h2 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  margin: 2rem 1rem 1rem 0rem;
  color: #fff;
  text-shadow: 2px 2px 4px rgb(252, 3, 219);
}

/* Estilos de las tarjetas */
.cards-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 1em;
  width: 25%;
  height: auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-width: 20rem;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-headline {
  font-size: 2em;
  font-weight: bold;
  color: #333;
  margin: 15px 0 10px 0;
  flex: 0 0 auto;
}

.card-description {
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  padding: 0 10px;
  margin-bottom: 15px;
  flex: 1 1 auto;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f73471;
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  margin: 5px;
  flex: 0 0 auto;
}

.card .btn:hover {
  font-weight: bold;
  background-color: transparent;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}

/* Estilos del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.modal-content .modal-contenido {
  display: flex;
}

.modal-content .modal-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding-left: 20px;
}

.pink-line {
  width: 95%;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.modal-content .modal-info h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 10px;
}

.modal-content .modal-info h2 {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 10px;
  padding-right: 20px;
}

.modal-content .modal-info p {
  font-size: 1.8rem;
}

.modal-content .modal-info .frase-motivadora {
  font-style: italic;
  padding-right: 20px;
}

.modal-content .modal-info .autor {
  text-align: end;
  font-size: 1.3rem;
  margin-top: 5px;
  padding-right: 22px;
}

.modal-content img {
  max-width: 30%;
  margin-right: 20px;
}

.modal-close {
  color: var(--main-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 10px;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content p {
  margin: 5px 0;
}

/* Responsive */
@media (max-width: 1024px) {
  .acercade-main {
    top: 15vh;
  }

  .acercade-text {
    width: 90%;
  }

  .acercade-main h2 {
    margin: 1rem 0rem;
  }

  .cards-container {
    justify-content: space-between;
    width: 90%;
    margin: 10px 0 10px;
  }

  .card {
    width: 30%;
  }

  .card .btn {
    padding: 10px 10px;
  }

  .modal-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .acercade-img {
    margin: 10px 0 5px 0;
  }

  .acercade-text > p {
    font-size: 2rem;
    line-height: 1.2em;
  }

  .cards-container {
    margin: 5px 0;
  }

  .card {
    width: 70%;
  }

  .card img {
    max-width: 100%;
  }
}

@media (max-width: 450px) {
}
