/* Estilos Contacto */
.contacto {
  background-image: url(../assets/images/fondoGym4.png);
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
  height: 100vh;
  margin-bottom: 40vh;

}

.main-contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
}

.contacto-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* gap: 1rem; */
  margin: 5rem 0;
}

.boton-enviar{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.main-contacto h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: bold;
  color: var(--white);
  text-shadow: 2px 2px 4px rgb(252, 3, 219);
  margin-top: 2rem;
}

.formulario-contacto {
  width: 45%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  margin: 1rem auto;
  color: white;
}

.label-form-contacto {
  font-size: 1.5rem;
  font-weight: 6rem;
  color: #fff;
  padding-bottom: 2rem;
  margin-bottom: -12px;
  margin-top: 0.5rem;
  display: inline-block;
}

.input-form-contacto {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--white);
  border: 2px solid var(--main-color);
  border-radius: 0.6rem;
  width: 100%;
  display: inline-block;
}

select#motivo option {
  background-color: var(--white);
  color: #000000;
}

.input-form-contacto[type='file']::file-selector-button {
  background-color: var(--main-color);
  color: var(--main-color);
  color: #fff;
  display: inline-block;
}

/* Estilos para el botón de envío */
.formulario-contacto button[type='submit'] {
  background-color: var(--main-color);
  color: white;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1px;
}

.formulario-contacto button[type='submit']:hover {
  background-color: transparent;
  border: 1.5px solid var(--main-color);
  color: var(--main-color);
}

.contacto-info > h3 {
  font-size: 1.5rem;
  margin: 1rem;
  color: #fff;
}

.contacto-info iframe {
  width: 600px;
  height: 400px;
}

.mapa {
  margin-top: 1rem;
}

/* Estilos para el mensaje de error */
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* Responsive */
@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .contacto-container {
    flex-direction: column;
    gap: 10px;
  }

  .formulario-contacto {
    width: 90%;
  }

  @media (max-width: 450px) {
    .formulario-contacto {
      margin: 0;
      padding: 0;
    }
    .contacto-info iframe {
      width: 300px;
      height: 150px;
    }
  }
}
