@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("./header.css");
@import url("./membresia.css");
@import url("./contacto.css");

:root {
  --main-color: #f73471;
  --white: #ffffff;
  --light-color: #868e96;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  /*text-transform: capitalize;*/
  transition: all 0.2s linear;
}

::selection {
  background-color: var(--main-color);
  color: #ffffff;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
  overflow: hidden;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background-color: #fafafa;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 5rem;
}

/* Main */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-container video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #fff;
}

.hero-title {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 2.5rem;
  margin: 3rem auto 6rem;
  max-width: 50rem;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  text-align: center;
  padding: 1rem 2rem;
  margin: 0 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: var(--main-color);
  color: #fff;
}

.btn-secondary {
  background-color: transparent;
  color: var(--main-color);
}

.btn-primary:hover,
.btn-secondary:hover {
  background-color: transparent;
  color: #fff;
  border-color: var(--main-color);
}

/* Responsive */
@media (max-width: 1024px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
